.graph-label {
    position: absolute;
    line-height: 1em;
    transform-origin: 100% 100%;
    font-size: 14px;
    white-space: nowrap;
}

.graph-label.graph-label--bump-down {
    margin-top: 1em;
}

.graph-label.graph-label--bump-down2 {
    margin-top: 5.2em;
}

.graph-label.graph-label--bump-up {
    margin-top: -1em;
}

.graph-label.graph-label--bump-up2 {
    margin-top: -5.2em;
}

.graph-label.graph-label--bump-left {
    margin-right: 1em;
}

.graph-label.graph-label--bump-right {
    margin-left: 1em;
}

.graph-label.graph-label--x {
    transform-origin: top left;
    transform: rotate(90deg);
    margin-left: 0.5em;
}

.graph-label.graph-label--x.graph-label--bump-up {
    transform-origin: top left;
    transform: rotate(-90deg);
    margin-bottom: 1em;
    margin-left: -0.5em;
}

.graph-label.graph-label--slanted.graph-label--bump-up {
    transform: rotate(-45deg);
}

.graph-label.graph-label--slanted.graph-label--bump-down {
    transform: rotate(45deg);
}