#line-container {
    position: fixed;
    z-index: 2000;
    overflow-y: auto;
}

#sums {
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 2em;
    font-size: 16px;
    border-radius: 0.5em;
    line-height: 2em;
    pointer-events: initial;
}

.line + #sums {
    margin-top: 2em;
}

.floatline {
    position: relative;
    z-index: 2001;
    pointer-events: initial;
}

.line {
    box-sizing: border-box;
    display: inline-block;
    padding: 1em;
    border-radius: 0.5em;
}

.line h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;
}

.lineclose {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.delete-selected {
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
}

.line.bulk .form-row .form-row__value {
    padding-left: 4em;
}

@media screen and (max-width: 1199px) {
    #line-container {
        padding: 2em;
    }

    .floatline {
        display: block;
        max-width: 960px;
        margin: 0 auto;
    }

    .under-table-items {
        text-align: center;
    }
}

@media (prefers-color-scheme: light) {
    #line-container {
        background: #0004;
    }

    .line, #sums {
        background-color: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    #line-container {
        background: #fff4;
    }

    .line, #sums {
        background-color: #333;
    }
}